################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GB_1/v16
/GB_2/Debug
/GB_3/Debug
/GB_1/.vs/GB_1/v16
/GB_1/Debug
/GB_1/GB_1.vcxproj.user
